body {
    color: brown;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    font-size: 30px;
    text-align: center;
}
ul {
    text-align: center;
    font-size: 20px;
    list-style: none;
    word-spacing: 55%;

}
li {
    display: inline;
    padding: 20px
}
img.bg {
    min-height: 100%;
    min-width: 781px;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: -1;
}
img.ghosty {
    height: 400px;
    width: 220px;
    top: 50%;
    left: 40%;
    position: fixed;
    z-index: 1;
}